<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743105775939-ser5onja6vinq4qorlmtgfq73fnscr0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743105775939-ser5onja6vinq4qorlmtgfq73fnscr0n</string>
	<key>API_KEY</key>
	<string>AIzaSyCOkz385pP1HroQ7MKwnppjMol27cCJLHY</string>
	<key>GCM_SENDER_ID</key>
	<string>743105775939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.tutorial</string>
	<key>PROJECT_ID</key>
	<string>sathee-f148a</string>
	<key>STORAGE_BUCKET</key>
	<string>sathee-f148a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743105775939:ios:5e1301e51aa1947703c7f6</string>
</dict>
</plist>